body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/*Couleur-du-site*/
/*marge et padding*/
/*Shadows Variables */
/*image*/
@keyframes apparitionmenu {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    transition: 10s cubic-bezier(0.5, 0, 0, 1);
  }
}
@keyframes transition-load {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
  }
  100% {
    opacity: 1;
  }
}
.container-h {
  display: flex;
  justify-content: center;
}

.logo {
  display: block;
  padding: 1rem;
}

.map {
  display: flex;
  justify-content: center;
  background-color: #D2D8D6;
  padding: 1rem;
  box-shadow: inset 0 3.5px 3px rgba(128, 128, 128, 0.5);
}

.fa-map-marker-alt {
  padding-right: 1rem;
}

.head-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 1rem 0rem 1rem 0rem;
}

.fa-arrow-left {
  position: absolute;
  top: 3%;
  padding-left: 1rem;
  color: black;
  right: 90%;
}

.photo {
  width: 100%;
}

.lds-spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: -80px;
  bottom: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  z-index: 10000;
  transform: translate(-80px, -80px);
  animation: lds-spinner-containers 0s 2s forwards;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: white;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lds-spinner-containers {
  to {
    visibility: hidden;
  }
}
@media screen and (max-width: 429px) {
  .navp1 {
    background-color: #edeeee;
    display: flex;
    flex-direction: column;
  }

  .nav1 {
    display: flex;
    text-align: center;
    padding: 1rem;
  }

  .nav2 {
    display: flex;
    text-align: center;
    font-size: 1.1rem;
    padding: 1rem;
  }

  .title-fonc {
    padding: 1rem;
    margin-left: 1rem;
  }

  .btn {
    display: flex;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    border: none;
    color: #fff;
    padding: 1rem;
    margin-bottom: 3rem;
    text-decoration: none;
    align-self: center;
    font-size: 1.1rem;
    border-radius: 2rem;
    justify-content: center;
    transition: all 0.3s;
    cursor: pointer;
  }
  .btn:hover {
    background: linear-gradient(to bottom, #ff8de0, #a16be0);
    box-shadow: 0 15px 30px -10px black;
  }

  .fonction {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fonc {
    background-color: #fff;
    border: 0rem solid;
    color: black;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 17rem;
    text-decoration: none;
    margin: 0rem 0rem 3rem 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    box-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  .fonc:hover {
    background: #f2eafb;
  }
  .fonc:hover i {
    color: #9356DC;
  }

  .number1, .number2, .number3 {
    position: relative;
    top: 2.5rem;
    right: 8rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: #9356DC;
    line-height: 2rem;
    margin: 0%;
    color: #fff;
  }
}
@media screen and (min-width: 430px) and (max-width: 1025px) {
  .navp1 {
    background-color: #edeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav1 {
    display: flex;
    text-align: center;
    padding: 1rem;
  }

  .nav2 {
    display: flex;
    text-align: center;
    font-size: 1.1rem;
    padding: 1rem;
  }

  .btn {
    display: flex;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    border: none;
    color: #fff;
    padding: 1rem;
    margin-bottom: 3rem;
    text-decoration: none;
    align-self: center;
    font-size: 1.1rem;
    border-radius: 2rem;
    justify-content: center;
    transition: all 0.3s;
    cursor: pointer;
  }
  .btn:hover {
    background: linear-gradient(to bottom, #ff8de0, #a16be0);
    box-shadow: 0 15px 30px -10px black;
  }

  .title-fonc {
    display: flex;
    justify-content: center;
  }

  .fonction {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fonc {
    background-color: #fff;
    border: 0rem solid;
    color: black;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Roboto", sans-serif;
    width: 20rem;
    text-decoration: none;
    margin: 0rem 0rem 3rem 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    box-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  .fonc:hover {
    background: #f2eafb;
  }
  .fonc:hover i {
    color: #9356DC;
  }

  .number1, .number2, .number3 {
    position: relative;
    top: 2.5rem;
    right: 9.5rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: #9356DC;
    line-height: 2rem;
    margin: 0%;
    color: #fff;
  }
}
@media screen and (min-width: 1026px) and (max-width: 2560px) {
  .navp1 {
    background-color: #edeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav1 {
    display: flex;
    text-align: center;
    padding: 1rem;
  }

  .nav2 {
    display: flex;
    text-align: center;
    font-size: 1.1rem;
    padding: 1rem;
  }

  .btn {
    display: flex;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    border: none;
    color: #fff;
    padding: 1rem;
    margin-bottom: 3rem;
    text-decoration: none;
    align-self: center;
    font-size: 1.1rem;
    border-radius: 2rem;
    justify-content: center;
    transition: all 0.3s;
    cursor: pointer;
  }
  .btn:hover {
    background: linear-gradient(to bottom, #ff8de0, #a16be0);
    box-shadow: 0 15px 30px -10px black;
  }

  .title-fonc {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .fonction {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .fonc {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    border: 0rem solid;
    color: black;
    padding: 1rem;
    width: 15rem;
    text-decoration: none;
    margin: 0rem 0rem 3rem 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    box-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  .fonc:hover {
    background: #f2eafb;
  }
  .fonc:hover i {
    color: #9356DC;
  }

  .number1, .number2, .number3 {
    position: relative;
    text-align: center;
    left: 2rem;
    top: 0.5rem;
    vertical-align: middle;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: #9356DC;
    line-height: 2rem;
    margin: 0%;
    color: #fff;
  }
}
@media screen and (max-width: 429px) {
  .card {
    position: absolute;
    width: 100%;
  }

  #menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #edeeee;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    margin-top: 10rem;
  }

  .titreMenu {
    justify-content: space-between;
    font-family: "Shrikhand", sans-serif;
    width: 90%;
    font-size: 25px;
    display: flex;
  }

  .coeurRestau {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    padding-left: 0%;
  }
  .coeurRestau:hover .fas {
    transform-origin: bottom;
    transition: transform 400ms;
    transform: scale(1);
  }
  .coeurRestau .far {
    position: absolute;
  }
  .coeurRestau .fas {
    color: #9356DC;
    position: absolute;
    transform: scale(0);
  }

  .bloc-menu {
    width: 90%;
    margin-bottom: 15px;
  }
  .bloc-menu .plats:nth-child(2) {
    animation: transition-load 0.8s;
  }
  .bloc-menu .plats:nth-child(3) {
    animation: transition-load 1s;
  }
  .bloc-menu .plats:nth-child(4) {
    animation: transition-load 2s;
  }
  .bloc-menu .plats:nth-child(5) {
    animation: transition-load 3s;
  }
  .bloc-menu p {
    font-size: 15px;
    line-height: 0;
  }
  .bloc-menu .souligne {
    background-color: #99E2D0;
    width: 2rem;
    height: 0.2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  .bloc-menu .plats {
    display: flex;
    background-color: white;
    border-radius: 20px;
    line-height: 0;
    padding: 2px 0px 5px 5px;
    margin-bottom: 1rem;
    box-shadow: 1px 5px 8px 0px #dddddd;
    transform: rotate(0turn);
  }
  .bloc-menu .plats:hover .transitionOk {
    transform-origin: right 100%;
    transition: transform 300ms ease-in-out;
    transform: scaleX(1);
  }
  .bloc-menu .plats:hover .fa-check-circle {
    transform: rotate(2turn);
    transition: transform 400ms ease-in-out;
  }
  .bloc-menu .plats:hover .titreDescriptif {
    width: 50%;
  }
  .bloc-menu .plats .titreDescriptif {
    width: 80%;
    transform: scaleX(1);
  }
  .bloc-menu .plats .titreDescriptif h5 {
    font-size: 1rem;
    line-height: 1.2;
    margin-left: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .bloc-menu .plats .titreDescriptif p {
    font-size: 0.9rem;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 1rem;
  }
  .bloc-menu .plats .prixDescriptif {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px 20px 18px 0px;
  }
  .bloc-menu .plats .prix {
    font-size: 15px;
    font-weight: bold;
  }
  .bloc-menu .plats .transitionOk {
    background-color: #99E2D0;
    width: 25%;
    height: 100%;
    position: absolute;
    right: 0%;
    top: 0%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: scaleX(0);
  }
  .bloc-menu .plats .fa-check-circle {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 430px) and (max-width: 1025px) {
  .card {
    position: absolute;
    width: 100%;
  }

  #menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #edeeee;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    margin-top: 10rem;
  }

  .titreMenu {
    justify-content: space-between;
    font-family: "Shrikhand", sans-serif;
    width: 90%;
    font-size: 2rem;
    display: flex;
  }

  .coeurRestau {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    padding-left: 0%;
  }
  .coeurRestau:hover .fas {
    transform-origin: bottom;
    transition: transform 400ms;
    transform: scale(1);
  }
  .coeurRestau .far {
    position: absolute;
  }
  .coeurRestau .fas {
    color: #9356DC;
    position: absolute;
    transform: scale(0);
  }

  .bloc-menu {
    width: 90%;
    margin-bottom: 15px;
  }
  .bloc-menu .plats:nth-child(2) {
    animation: transition-load 0.8s;
  }
  .bloc-menu .plats:nth-child(3) {
    animation: transition-load 1s;
  }
  .bloc-menu .plats:nth-child(4) {
    animation: transition-load 2s;
  }
  .bloc-menu .plats:nth-child(5) {
    animation: transition-load 3s;
  }
  .bloc-menu p {
    font-size: 1.5rem;
    line-height: 0;
  }
  .bloc-menu .souligne {
    background-color: #99E2D0;
    width: 4rem;
    height: 0.2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  .bloc-menu .plats {
    display: flex;
    background-color: white;
    border-radius: 20px;
    line-height: 0;
    padding: 2px 0px 5px 5px;
    margin-bottom: 1rem;
    box-shadow: 1px 5px 8px 0px #dddddd;
    transform: rotate(0turn);
  }
  .bloc-menu .plats:hover .transitionOk {
    transform-origin: right 100%;
    transition: transform 300ms ease-in-out;
    transform: scaleX(1);
  }
  .bloc-menu .plats:hover .fa-check-circle {
    transform: rotate(2turn);
    transition: transform 400ms ease-in-out;
  }
  .bloc-menu .plats:hover .titreDescriptif {
    width: 80%;
  }
  .bloc-menu .plats .titreDescriptif {
    width: 90%;
    transform: scaleX(1);
  }
  .bloc-menu .plats .titreDescriptif h5 {
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    margin-left: 2rem;
  }
  .bloc-menu .plats .titreDescriptif p {
    font-size: 0.9rem;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 2rem;
  }
  .bloc-menu .plats .prixDescriptif {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px 20px 18px 0px;
  }
  .bloc-menu .plats .prix {
    font-size: 15px;
    font-weight: bold;
  }
  .bloc-menu .plats .transitionOk {
    background-color: #99E2D0;
    width: 15%;
    height: 100%;
    position: absolute;
    right: 0%;
    top: 0%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: scaleX(0);
  }
  .bloc-menu .plats .fa-check-circle {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
body {
  font-family: "Roboto";
}

@media screen and (min-width: 1026px) and (max-width: 2560px) {
  .card {
    position: absolute;
    width: 100%;
    height: 90%;
  }

  #menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #edeeee;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    margin-top: 10rem;
  }

  .titreMenu {
    justify-content: space-between;
    font-family: "Shrikhand", sans-serif;
    width: 90%;
    font-size: 2rem;
    display: flex;
  }

  .coeurRestau {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    padding-left: 0%;
  }
  .coeurRestau:hover .fas {
    transform-origin: bottom;
    transition: transform 400ms;
    transform: scale(1);
  }
  .coeurRestau .far {
    position: absolute;
  }
  .coeurRestau .fas {
    color: #9356DC;
    position: absolute;
    transform: scale(0);
  }

  .bloc-menu {
    width: 30rem;
  }

  .plats:nth-child(2) {
    animation: transition-load 0.8s;
  }

  .plats:nth-child(3) {
    animation: transition-load 1s;
  }

  .plats:nth-child(4) {
    animation: transition-load 2s;
  }

  .plats:nth-child(5) {
    animation: transition-load 3s;
  }

  p {
    font-size: 2rem;
    line-height: 0;
  }

  .souligne {
    background-color: #99E2D0;
    width: 4rem;
    height: 0.2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  .plats {
    display: flex;
    background-color: white;
    border-radius: 20px;
    line-height: 0;
    padding: 2px 0px 5px 5px;
    margin-bottom: 1rem;
    box-shadow: 1px 5px 8px 0px #dddddd;
    transform: rotate(0turn);
  }
  .plats:hover .transitionOk {
    transform-origin: right 100%;
    transition: transform 300ms ease-in-out;
    transform: scaleX(1);
  }
  .plats:hover .fa-check-circle {
    transform: rotate(2turn);
    transition: transform 400ms ease-in-out;
  }
  .plats:hover .titreDescriptif {
    width: 70%;
  }
  .plats .titreDescriptif {
    width: 80%;
    transform: scaleX(1);
  }
  .plats .titreDescriptif h5 {
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    margin-left: 2rem;
  }
  .plats .titreDescriptif p {
    font-size: 0.9rem;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 2rem;
  }
  .plats .prixDescriptif {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px 20px 18px 0px;
  }
  .plats .prix {
    font-size: 15px;
    font-weight: bold;
  }
  .plats .transitionOk {
    background-color: #99E2D0;
    width: 15%;
    height: 100%;
    position: absolute;
    right: 0%;
    top: 0%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: scaleX(0);
  }
  .plats .fa-check-circle {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 429px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #edeeee;
    padding-bottom: 3rem;
  }

  .title-row {
    margin-right: 50%;
  }

  .restaurant {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    background-color: white;
    position: relative;
  }

  .new {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0.2rem solid #99E2D0;
    background-color: #99E2D0;
    width: 6rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.6rem;
    border-radius: 0.1rem;
  }

  .cards {
    width: 90vw;
    height: 20vh;
    border-radius: 1rem 1rem 0rem 0rem;
    object-fit: cover;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .coeurRestau-A {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
  }
  .coeurRestau-A:hover .fas {
    transform-origin: bottom;
    transition: transform 400ms;
    transform: scale(1);
  }
  .coeurRestau-A .far {
    position: absolute;
    bottom: 2rem;
    width: 1rem;
  }
  .coeurRestau-A .fas {
    color: #9356DC;
    position: absolute;
    transform: scale(0);
  }

  h4,
p {
    margin-left: 1rem;
    line-height: 0rem;
  }

  .menu {
    display: flex;
    width: 2rem;
    height: 0rem;
  }
}
@media screen and (min-width: 430px) and (max-width: 1025px) {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #edeeee;
    padding-bottom: 3rem;
  }

  .title-row {
    display: flex;
    justify-content: center;
    width: 85%;
  }

  .restaurant {
    display: flex;
    width: 40vw;
    height: auto;
    margin: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    background-color: white;
    position: relative;
  }

  .new {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0.1rem solid #99E2D0;
    background-color: #99E2D0;
    width: 5rem;
    text-align: center;
    border-radius: 0.1rem;
  }

  .cards {
    width: 40vw;
    height: 20vh;
    border-radius: 1rem 1rem 0rem 0rem;
    object-fit: cover;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .coeurRestau-A {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
  }
  .coeurRestau-A:hover .fas {
    transform-origin: bottom;
    transition: transform 400ms;
    transform: scale(1);
  }
  .coeurRestau-A .far {
    position: absolute;
  }
  .coeurRestau-A .fas {
    color: #9356DC;
    position: absolute;
    transform: scale(0);
  }

  h4,
p {
    margin-left: 1rem;
    line-height: 0rem;
  }

  .menu {
    display: flex;
    width: 2rem;
    height: 0rem;
  }
}
@media screen and (min-width: 1026px) and (max-width: 2560px) {
  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #edeeee;
    padding-bottom: 3rem;
  }

  .title-row {
    width: 100%;
    text-align: center;
  }

  .restaurant {
    width: 20vw;
    height: auto;
    margin: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    background-color: white;
    position: relative;
  }

  .new {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0.1rem solid #99E2D0;
    background-color: #99E2D0;
    width: 5rem;
    text-align: center;
    border-radius: 0.1rem;
  }

  .cards {
    width: 20vw;
    height: 20vh;
    border-radius: 1rem 1rem 0rem 0rem;
    object-fit: cover;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .coeurRestau-A {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    font-size: 1.5rem;
  }
  .coeurRestau-A:hover .fas {
    transform-origin: bottom;
    transition: transform 400ms;
    transform: scale(1);
  }
  .coeurRestau-A .far {
    position: absolute;
  }
  .coeurRestau-A .fas {
    color: #9356DC;
    position: absolute;
    transform: scale(0);
  }

  h4 {
    font-weight: bolder;
    margin-left: 1rem;
    line-height: 0rem;
  }

  p {
    font-size: 1rem;
    margin-left: 1rem;
  }

  .menu {
    display: flex;
    width: 2rem;
    height: 0rem;
  }
}
@media screen and (max-width: 429px) {
  .foot {
    background-color: #313131;
    color: white;
  }

  .title-footer {
    font-family: "Shrikhand";
    padding: 1rem;
    margin: 0rem;
  }

  .fa-utensils {
    margin-right: 1.4rem;
  }

  .fa-hands-helping {
    margin-right: 1rem;
  }

  .foot-0 {
    display: inline-flex;
    flex-direction: column;
    padding: 1rem;
  }

  .foot-1, .foot-2, .foot-3, .foot-4 {
    line-height: 1.5rem;
    text-decoration: none;
    color: white;
  }
}
@media screen and (min-width: 430px) and (max-width: 1025px) {
  .foot {
    background-color: #313131;
    color: white;
    text-align: center;
  }

  .title-footer {
    font-family: "Shrikhand";
    padding: 1rem;
    margin: 0rem;
  }

  .fa-utensils {
    margin-right: 1.4rem;
  }

  .fa-hands-helping {
    margin-right: 1rem;
  }

  .foot-0 {
    display: inline-flex;
    flex-direction: column;
    padding: 1rem;
  }

  .foot-1, .foot-2, .foot-3, .foot-4 {
    line-height: 1.5rem;
    text-decoration: none;
    color: white;
  }
}
@media screen and (min-width: 1026px) and (max-width: 2560px) {
  .foot {
    background-color: #313131;
    color: white;
    text-align: center;
  }

  .title-footer {
    font-family: "Shrikhand";
    padding: 1rem;
    margin: 0rem;
  }

  .fa-utensils {
    margin-right: 1.4rem;
  }

  .fa-hands-helping {
    margin-right: 1rem;
  }

  .foot-0 {
    display: inline-flex;
    flex-direction: column;
    padding: 1rem;
  }

  .foot-1, .foot-2, .foot-3, .foot-4 {
    line-height: 1.5rem;
    text-decoration: none;
    color: white;
  }
}

/*# sourceMappingURL=style.css.map */
