@media screen and (max-width: 429px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #edeeee;
    padding-bottom: 3rem;
  }
  .title-row {
    margin-right: 50%;
  }
  .restaurant {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    background-color: white;
    position: relative;
  }
  .new {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0.2rem solid $colour-tertiary;
    background-color: $colour-tertiary;
    width: 6rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.6rem;
    border-radius: 0.1rem;
  }

  .cards {
    width: $width-res-cards;
    height: 20vh;
    border-radius: 1rem 1rem 0rem 0rem;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .coeurRestau-A {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;

    &:hover .fas {
      transform-origin: bottom;
      transition: transform 400ms;
      transform: scale(1);
    }
    .far {
      position: absolute;
      bottom: 2rem;
      width: 1rem;
    }
    .fas {
      color: $colour-primary;
      position: absolute;
      transform: scale(0);
    }
  }

  h4,
  p {
    margin-left: 1rem;
    line-height: 0rem;
  }

  .menu {
    display: flex;
    width: 2rem;
    height: 0rem;
  }
}
