$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-background: #edeeee;
$colour-background-dark: #D2D8D6;
$colour-background-footer: #313131;
$color-white: #fff;
$padding-gen: 1rem;
$width-res-cards: 90vw;
$font-size: 1.1rem